<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VTB courses. Spring security. Lesson3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="|Hello, ${name}!|" />
    <p><a href="/info">Show authentication info</a></p>
    <p>Authenticate by JWT token:</p>
    <button onclick="sendXAuthenticate('res_good','eyJraWQiOiJkZThhNWY2Mi1lY2U5LTRhYmEtYWFmMi1jMTkzMTUxMmE5YTYiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhbGljZSIsInNjcCI6IlJPTEVfVVNFUiwgUk9MRV9BRE1JTiIsImV4cCI6MTcyMjU4Njk3MSwianRpIjoiNTA3ZjAyOTktZWMyYS00MzhkLTljNzAtMDU1NzExZTEwNTliIn0.hblNV5M1VrDPiz0M45ZO3nc3IyKBLcRp6k-SkstT4CBLguTiqZNSwtjsO5dQh_MB-UXdnNaSxYlwXG8YF_5OYiCKxFB3Kq87TE1BLtq4w_ZzTUjLoB1PchNvYM9ubGmvfzaQ2NJEeQw0lheZ48nrnMXFo9DUmr4PUeUKPuefEy0xFaR_p7PNEWXhLUosqGU2cGo4FaUPEdy4qnXYF2k-cHhLoWCbI-PteHslENTYnXuyKcrOeQe79FlSOtsCnMFyNnF3ZezeQiS6EVOUOKBY9HO4W0vqDgOdNzBrpeddzp-s88LF3jEroEbF4FhsDAX-ACGuOxoHZeFbvsEkVxYM9g');">Authenticate</button>
    <br>
    <p>Authenticate by Bad JWT token:</p>
    <button onclick="sendXAuthenticate('res_bad','eyJraWQiOiJksThhNWY2Mi1lY2U5LTRhYmEtYWFmMi1jMTkzMTUxMmE5YTYiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhbGljZSIsInNjcCI6IlJPTEVfVVNFUiwgUk9MRV9BRE1JTiIsImV4cCI6MTcyMjU4Njk3MSwianRpIjoiNTA3ZjAyOTktZWMyYS00MzhkLTljNzAtMDU1NzExZTEwNTliIn0.hblNV5M1VrDPiz0M45ZO3nc3IyKBLcRp6k-SkstT4CBLguTiqZNSwtjsO5dQh_MB-UXdnNaSxYlwXG8YF_5OYiCKxFB3Kq87TE1BLtq4w_ZzTUjLoB1PchNvYM9ubGmvfzaQ2NJEeQw0lheZ48nrnMXFo9DUmr4PUeUKPuefEy0xFaR_p7PNEWXhLUosqGU2cGo4FaUPEdy4qnXYF2k-cHhLoWCbI-PteHslENTYnXuyKcrOeQe79FlSOtsCnMFyNnF3ZezeQiS6EVOUOKBY9HO4W0vqDgOdNzBrpeddzp-s88LF3jEroEbF4FhsDAX-ACGuOxoHZeFbvsEkVxYM9g');">Authenticate</button>
    <script>
        function sendXAuthenticate(el, token) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "/auth", true);
            xhr.setRequestHeader("X-Authentication", token);
            xhr.responseType = "text";//"json";//"document";//
            xhr.send(null);
        }
    </script>
</body>
</html>
